PROJECT_NAME=agroeco

PGHOST=db
PGPORT=5432
PGDATABASE=agroeco
PGUSER=agroeco
PGPASSWORD=

API_HOST=localhost      # Dominio externo, idealmente coincide con FRONT_HOST
API_PORT=3000           # Puerto interno
API_PREFIX=api          # API_HOST/API_PREFIX para acceder a la api
API_CLOSE_GRACE_DELAY=400
API_JWT_SECRET=
API_COOKIE_SECRET=

FRONT_HOST=localhost    # Dominio externo, idealmente = API_HOST
FRONT_PORT=4200         # Puerto "interno"

CDN_URL=

AWS_REGION=
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=