@let mask = this.mask();
<div id="main" class="flex flex-col grow justify-center items-center h-full p-1">
  <p-card class="shadow-lg rounded-xl w-full md:w-[30rem]">
    <ng-template #title>
      <div class="text-center text-surface-900 dark:text-surface-0 text-3xl font-medium mb-1">
        Crear Cuenta
      </div>
    </ng-template>

    <form #registerForm (ngSubmit)="this.guardar()" class="flex flex-col gap-6">
      <div class="flex flex-col w-full">
        <label class="font-semibold text-color-secondary ml-1">¿Qué deseas hacer?</label>
        <p-select-button
          [options]="roleOptions"
          [(ngModel)]="selectedRoles"
          optionLabel="label"
          optionValue="value"
          name="roleSelector"
          [multiple]="true"
          required
          styleClass="w-full flex custom-select-button"
        >
        </p-select-button>
      </div>
      @if (this.selectedRoles().includes('PRODUCTOR')) {
        <p-floatlabel variant="on" class="w-full">
          <textarea
            rows="5"
            cols="30"
            pTextarea
            name="presentacion"
            autocomplete="off"
            class="w-full"
            [(ngModel)]="this.presentacion"
            placeholder="Escribe una presentación general de tus productos y tu proceso de producción."
          ></textarea>
          <label for="presentacion">Presentación</label>
        </p-floatlabel>
      }

      <div class="flex flex-col md:flex-row gap-4">
        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="id-card"></svg>
            </p-inputicon>
            <input
              pInputText
              name="nombres"
              autocomplete="off"
              class="w-full"
              [(ngModel)]="this.nombres"
            />
            <label for="nombres">Nombres</label>
          </p-iconfield>
        </p-floatlabel>

        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="id-card"></svg>
            </p-inputicon>
            <input
              pInputText
              name="apellidos"
              autocomplete="off"
              class="w-full"
              [(ngModel)]="this.apellidos"
            />
            <label for="apellidos">Apellidos</label>
          </p-iconfield>
        </p-floatlabel>
      </div>

      <p-floatlabel variant="on">
        <p-iconfield iconPosition="right">
          <p-inputicon>
            <svg data-p-icon="envelope"></svg>
          </p-inputicon>
          <input
            pInputText
            name="email"
            type="email"
            autocomplete="off"
            class="w-full"
            [(ngModel)]="this.email"
          />
          <label for="email">Email</label>
        </p-iconfield>
      </p-floatlabel>

      <div class="flex flex-col md:flex-row gap-3">
        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="id-card"></svg>
            </p-inputicon>
            <input
              pInputText
              name="username"
              autocomplete="off"
              class="w-full"
              placeholder="No se podrá cambiar"
              [(ngModel)]="this.username"
            />
            <label for="username">Username</label>
          </p-iconfield>
        </p-floatlabel>

        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="phone"></svg>
            </p-inputicon>
            <input
              pInputText
              name="celular"
              type="tel"
              autocomplete="off"
              class="w-full"
              [(ngModel)]="this.celular"
            />
            <label for="celular">Celular</label>
          </p-iconfield>
        </p-floatlabel>
      </div>

      <div class="flex flex-col md:flex-row gap-4">
        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="key"></svg>
            </p-inputicon>
            <input
              pInputPassword
              name="password"
              autocomplete="off"
              class="w-full"
              [mask]="this.mask()"
              [(ngModel)]="this.password"
            /><label for="username">Contraseña</label>

            <p-inputicon (click)="this.mask.set(!mask)" style="cursor: pointer">
              @if (mask) {
                <svg data-p-icon="eye"></svg>
              } @else {
                <svg data-p-icon="eye-slash"></svg>
              }
            </p-inputicon>
          </p-iconfield>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="key"></svg>
            </p-inputicon>
            <input
              pInputPassword
              name="password2"
              autocomplete="off"
              class="w-full"
              [mask]="this.mask()"
              [(ngModel)]="this.password2"
            /><label for="username">Repetir contraseña</label>

            <p-inputicon (click)="this.mask.set(!mask)" style="cursor: pointer">
              @if (mask) {
                <svg data-p-icon="eye"></svg>
              } @else {
                <svg data-p-icon="eye-slash"></svg>
              }
            </p-inputicon>
          </p-iconfield>
        </p-floatlabel>
      </div>

      <button pButton class="w-full" severity="primary">Registrarme</button>
    </form>

    <ng-template #footer>
      <p class="text-center text-surface-600 dark:text-surface-200 mt-2">
        ¿Ya tienes una cuenta?
        <a routerLink="/auth/login" class="text-primary font-bold cursor-pointer no-underline">
          Inicia sesión
        </a>
      </p>
    </ng-template>
  </p-card>
</div>
