@let mask = this.mask();
<div id="main" class="flex flex-col grow justify-center items-center h-full p-1">
  <p-card class="shadow-lg rounded-xl w-full md:w-120">
    <ng-template #title>
      <div class="text-center text-surface-900 dark:text-surface-0 text-3xl font-medium mb-1">
        Crear Cuenta
      </div>
    </ng-template>

    <form novalidate (submit)="this.guardar($event)" class="flex flex-col gap-3">
      <div class="flex flex-col items-center justify-center gap-2 mb-4">
        <p-fileupload
          #fu
          mode="advanced"
          accept="image/*"
          [maxFileSize]="1000000"
          [customUpload]="true"
          (onSelect)="onFotoSeleccionada($event)"
          [pt]="{
            root: { class: 'border-0! bg-transparent! p-0!' },
            header: { class: 'hidden!' },
            content: { class: 'p-0!' },
          }"
        >
          <ng-template #content let-files let-removeFileCallback="removeFileCallback">
            @if (files?.length > 0) {
              <div class="flex flex-col items-center justify-center gap-2">
                <div
                  class="relative group cursor-pointer w-28 h-28"
                  (click)="eliminarFoto(removeFileCallback, $event)"
                >
                  <!-- Contenedor del Avatar cargado -->
                  <div class="w-28 h-28 rounded-full p-1 ring-2 ring-primary">
                    <div class="w-full h-full rounded-full overflow-hidden relative shadow-inner">
                      <img
                        [src]="files[0].objectURL"
                        [alt]="files[0].name"
                        class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
                      />

                      <div
                        class="absolute inset-0 bg-black/70 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex flex-col items-center justify-center text-white"
                      >
                        <svg data-p-icon="trash" class="mb-1 text-red-400"></svg>
                        <span class="text-xs tracking-wide uppercase">Eliminar</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            }
          </ng-template>

          <ng-template #empty>
            <div class="relative group cursor-pointer w-28 h-28" (click)="fu.choose()">
              <div
                class="w-28 h-28 rounded-full p-1 ring-2 ring-primary/20 dark:ring-primary/40 group-hover:ring-primary transition-all duration-300"
              >
                <div
                  class="w-full h-full rounded-full overflow-hidden relative shadow-inner bg-surface-100 dark:bg-surface-800"
                >
                  <img
                    src="/images/no-image.svg"
                    alt="Sin foto"
                    class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105"
                  />
                  <div
                    class="absolute inset-0 bg-black/40 opacity-0 group-hover:opacity-100 transition-opacity duration-300 flex items-center justify-center"
                  >
                    <svg data-p-icon="camera" class="text-white"></svg>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </p-fileupload>

        <span class="text-xs font-medium text-surface-500 dark:text-surface-400">
          Foto de perfil (opcional)
        </span>
      </div>

      <div class="flex flex-col w-full">
        <label class="font-semibold text-color-secondary ml-1">¿Qué deseas hacer?</label>
        <p-select-button
          [options]="roleOptions"
          [formField]="this.registerForm.roles"
          optionLabel="label"
          optionValue="value"
          id="roles"
          [multiple]="true"
          styleClass="w-full flex custom-select-button"
        >
        </p-select-button>
      </div>
      @if (this.registerForm.roles().value().includes('PRODUCTOR')) {
        <div class="flex flex-col w-full">
          <p-floatlabel variant="on" class="w-full">
            <textarea
              rows="5"
              cols="30"
              pTextarea
              id="presentacion"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.presentacion().touched() && registerForm.presentacion().invalid()
              "
              [formField]="this.registerForm.presentacion"
            ></textarea>
            <label for="presentacion">Presentación</label>
          </p-floatlabel>
          @if (
            this.registerForm.presentacion().touched() && this.registerForm.presentacion().invalid()
          ) {
            @for (error of this.registerForm.presentacion().errors(); track error.kind) {
              <p-message severity="error" size="small" variant="simple">{{
                error.message
              }}</p-message>
            }
          }
        </div>
      }

      <div class="flex flex-col">
        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="id-card"></svg>
            </p-inputicon>
            <input
              pInputText
              id="nombres"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.nombres().touched() && registerForm.nombres().invalid()
              "
              [formField]="this.registerForm.nombres"
            />
            <label for="nombres">Nombres</label>
          </p-iconfield>
          @if (this.registerForm.nombres().touched() && this.registerForm.nombres().invalid()) {
            @for (error of this.registerForm.nombres().errors(); track error.kind) {
              <p-message severity="error" size="small" variant="simple">{{
                error.message
              }}</p-message>
            }
          }
        </p-floatlabel>
      </div>
      <div class="flex flex-col">
        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="id-card"></svg>
            </p-inputicon>
            <input
              pInputText
              id="apellidos"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.apellidos().touched() && registerForm.apellidos().invalid()
              "
              [formField]="this.registerForm.apellidos"
            />
            <label for="apellidos">Apellidos</label>
          </p-iconfield>
        </p-floatlabel>
        @if (this.registerForm.apellidos().touched() && this.registerForm.apellidos().invalid()) {
          @for (error of this.registerForm.apellidos().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>
      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="envelope"></svg>
            </p-inputicon>
            <input
              pInputText
              id="email"
              type="email"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="registerForm.email().touched() && registerForm.email().invalid()"
              [formField]="this.registerForm.email"
            />
            <label for="email">Email</label>
          </p-iconfield>
        </p-floatlabel>
        @if (this.registerForm.email().touched() && this.registerForm.email().invalid()) {
          @for (error of this.registerForm.email().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>
      <div class="flex flex-col">
        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="id-card"></svg>
            </p-inputicon>
            <input
              pInputText
              id="username"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.username().touched() && registerForm.username().invalid()
              "
              placeholder="No se podrá cambiar"
              [formField]="this.registerForm.username"
            />
            <label for="username">Username</label>
          </p-iconfield>
        </p-floatlabel>
        @if (this.registerForm.username().touched() && this.registerForm.username().invalid()) {
          @for (error of this.registerForm.username().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>
      <div class="flex flex-col">
        <p-floatlabel variant="on" class="w-full">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="phone"></svg>
            </p-inputicon>
            <input
              pInputText
              id="celular"
              type="tel"
              placeholder="+59800000000"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.celular().touched() && registerForm.celular().invalid()
              "
              [formField]="this.registerForm.celular"
            />
            <label for="celular">Celular</label>
          </p-iconfield>
        </p-floatlabel>
        @if (this.registerForm.celular().touched() && this.registerForm.celular().invalid()) {
          @for (error of this.registerForm.celular().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>

      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="key"></svg>
            </p-inputicon>
            <input
              pInputPassword
              id="password"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.password().touched() && registerForm.password().invalid()
              "
              [mask]="this.mask()"
              [formField]="this.registerForm.password"
            /><label for="password">Contraseña</label>

            <p-inputicon (click)="this.mask.set(!mask)" style="cursor: pointer">
              @if (mask) {
                <svg data-p-icon="eye"></svg>
              } @else {
                <svg data-p-icon="eye-slash"></svg>
              }
            </p-inputicon>
          </p-iconfield>
        </p-floatlabel>
        @if (this.registerForm.password().touched() && this.registerForm.password().invalid()) {
          @for (error of this.registerForm.password().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>
      <div class="flex flex-col">
        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon>
              <svg data-p-icon="key"></svg>
            </p-inputicon>
            <input
              pInputPassword
              id="password2"
              autocomplete="off"
              class="w-full"
              [class.p-invalid]="
                registerForm.password2().touched() && registerForm.password2().invalid()
              "
              [mask]="this.mask()"
              [formField]="this.registerForm.password2"
            /><label for="username">Repetir contraseña</label>

            <p-inputicon (click)="this.mask.set(!mask)" style="cursor: pointer">
              @if (mask) {
                <svg data-p-icon="eye"></svg>
              } @else {
                <svg data-p-icon="eye-slash"></svg>
              }
            </p-inputicon>
          </p-iconfield>
        </p-floatlabel>
        @if (this.registerForm.password2().touched() && this.registerForm.password2().invalid()) {
          @for (error of this.registerForm.password2().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>

      <button
        type="submit"
        pButton
        class="w-full"
        severity="primary"
        [disabled]="this.registerForm().invalid()"
      >
        Registrarme
      </button>
    </form>

    <ng-template #footer>
      <p class="text-center text-surface-600 dark:text-surface-200 mt-2">
        ¿Ya tienes una cuenta?
        <a routerLink="/auth/login" class="text-primary font-bold cursor-pointer no-underline">
          Inicia sesión
        </a>
      </p>
    </ng-template>
  </p-card>
</div>
