<div class="card">
  <p-dataview
    #dv
    [value]="this.productosResource.value()"
    [layout]="this.layout()"
    [paginator]="true"
    [rows]="10"
    [sortField]="this.sortField()"
    [sortOrder]="this.sortOrder()"
  >
    <ng-template #header>
      <div class="flex justify-end">
        <p-select
          [options]="this.sortOptions"
          [(ngModel)]="this.sortKey"
          placeholder="Ordenar por..."
          (onChange)="this.onSortChange($event)"
          class="mb-2 md:mb-0"
        />
        <p-selectbutton [(ngModel)]="this.layout" [options]="['grid', 'list']" [allowEmpty]="false">
          <ng-template #item let-item>
            <i class="pi" [class]="{ 'pi-bars': item === 'list', 'pi-table': item === 'grid' }"></i>
          </ng-template>
        </p-selectbutton>
      </div>
    </ng-template>

    <ng-template #list let-productos>
      <div class="flex flex-col gap-4 mt-4">
        @for (producto of productos; track producto.id_producto) {
          <app-producto-card
            [producto]="producto"
            [layout]="'list'"
            [cdnUrl]="this.cdnUrl"
            (agregarAlCarrito)="this.agregarAlCarrito($event)"
          />
        }
      </div>
    </ng-template>

    <ng-template #grid let-items>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 mt-4"
      >
        @for (producto of items; track producto.id_producto) {
          <app-producto-card
            [producto]="producto"
            [layout]="'grid'"
            [cdnUrl]="this.cdnUrl"
            (agregarAlCarrito)="this.agregarAlCarrito($event)"
          />
        }
      </div>
    </ng-template>
  </p-dataview>
</div>
