<div class="card">
  <p-dataview
    #dv
    [value]="this.productosResource.value()?.data || []"
    [layout]="this.layout()"
    [paginator]="true"
    [rows]="this.limit()"
    [first]="this.first()"
    [totalRecords]="this.productosResource.value()?.meta?.total||0"
    [lazy]="true"
    [rowsPerPageOptions]="[6, 12, 24]"
    (onPage)="this.onPageChange($event)"
    [sortField]="this.sortField()"
    [sortOrder]="this.sortOrder()"
  >
    <ng-template #header>
      <app-productos-filter
        [categorias]="this.categoriasResource.value()"
        [subcategorias]="this.subcategoriasResource.value()"
        [etiquetas]="this.etiquetasResource.value()"
        [(categoriaSeleccionada)]="this.categoria"
        [(subcategoriaSeleccionada)]="this.subcategoria"
        [(etiquetasSeleccionadas)]="this.etiquetas"
        [(page)]="this.page"
        [(sortField)]="this.sortField"
        [(sortOrder)]="this.sortOrder"
        [(sortKey)]="this.sortKey"
        [(layout)]="this.layout"
        (filtroCambiado)="this.queryParamsChange()"
      ></app-productos-filter>
    </ng-template>

    <ng-template #list let-productos>
      <div class="flex flex-col gap-4 mt-4">
        @for (producto of productos; track producto.id_producto) {
          <app-producto-card
            [producto]="producto"
            [layout]="'list'"
            [cdnUrl]="this.cdnUrl"
            (agregarAlCarrito)="this.agregarAlCarrito($event)"
          />
        }
      </div>
    </ng-template>

    <ng-template #grid let-items>
      <div
        class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 mt-4"
      >
        @for (producto of items; track producto.id_producto) {
          <app-producto-card
            [producto]="producto"
            [layout]="'grid'"
            [cdnUrl]="this.cdnUrl"
            (agregarAlCarrito)="this.agregarAlCarrito($event)"
          />
        }
      </div>
    </ng-template>
  </p-dataview>
</div>
