<div class="card">
  @let layout = this.layout();
  @let productosCargados = this.productosResource.hasValue();

  @let hayError = this.productosResource.error();
  <app-productos-filter
    [(categoriaSeleccionada)]="this.categoria"
    [(subcategoriaSeleccionada)]="this.subcategoria"
    [(etiquetasSeleccionadas)]="this.etiquetas"
    [(layout)]="this.layout"
    [(filtroBusqueda)]="this.busqueda"
  ></app-productos-filter>

  @if (hayError) {
    <app-error-state [message]="this.productosResource.error()?.message"></app-error-state>
  }

  @if (layout === 'table' && productosCargados) {
    <app-productos-table
      [productos]="this.productosResource.value()?.data || []"
      [total]="this.totalProductos()"
      (cambioUnProducto)="this.cambioUnProducto($event)"
      [productor]="this.user()?.username || 'FIXME'"
      (crear)="this.gotToCrear()"
      (desactivar)="this.desactivarProducto($event)"
      (activar)="this.activarProducto($event)"
      (borrar)="this.borrarProducto($event)"
    ></app-productos-table>
  }

  @if (layout !== 'table' && productosCargados) {
    <p-dataview
      #dv
      [value]="this.productosResource.value()?.data || []"
      [layout]="layout"
      [paginator]="true"
      [rows]="this.paginationStore.limit()"
      [first]="this.paginationStore.first()"
      [totalRecords]="this.productosResource.value()?.meta?.total || 0"
      [lazy]="true"
      [rowsPerPageOptions]="this.paginationStore.rowsPerPageOptions()"
      (onPage)="this.paginationStore.onPageChange($event)"
      [sortField]="this.paginationStore.sortField()"
      [sortOrder]="this.paginationStore.sortOrder()"
    >
      <ng-template #header> </ng-template>

      <ng-template #emptymessage>
        <app-empty-state
          [titulo]="'No hay productos disponibles'"
          [subtitulo]="'Aún no has publicado ningún producto.'"
        ></app-empty-state>
      </ng-template>

      <ng-template #list let-productos>
        <div class="flex flex-col gap-4 mt-4">
          @for (producto of productos; track producto.id_producto) {
            <app-producto-card
              [producto]="producto"
              [layout]="'list'"
              [cdnUrl]="this.cdnUrl"
              (editarProducto)="this.gotToEditar($event)"
              (verProducto)="this.gotToVer($event)"
              (desactivarProducto)="this.desactivarProducto($event)"
              (activarProducto)="this.activarProducto($event)"
              (borrarProducto)="this.borrarProducto($event)"
            />
          }
        </div>
      </ng-template>

      <ng-template #grid let-items>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 2xl:grid-cols-6 gap-4 mt-4"
        >
          @for (producto of items; track producto.id_producto) {
            <app-producto-card
              [producto]="producto"
              [layout]="'grid'"
              [cdnUrl]="this.cdnUrl"
              (editarProducto)="this.gotToEditar($event)"
              (verProducto)="this.gotToVer($event)"
              (desactivarProducto)="this.desactivarProducto($event)"
              (activarProducto)="this.activarProducto($event)"
              (borrarProducto)="this.borrarProducto($event)"
            />
          }
        </div>
      </ng-template>
    </p-dataview>
  }
</div>
