<div
  class="flex flex-col gap-4 p-4 bg-surface-50 dark:bg-surface-950 border-b border-surface-200 dark:border-surface-800"
>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-6 gap-4">
    <div class="flex justify-between">
      <p-selectbutton
        [(ngModel)]="this.layout"
        [options]="this.opcionesLayout()"
        (onChange)="this.filtroCambiado.emit()"
        [allowEmpty]="false"
      >
        <ng-template #item let-item>
          <i
            class="pi"
            [class]="{
              'pi-bars': item === 'list',
              'pi-th-large': item === 'grid',
              'pi-table': item === 'table',
            }"
          ></i>
        </ng-template>
      </p-selectbutton>
      @if (this.userStore.esConsumidor()) {
        <p-selectbutton
          [options]="opcionesFavoritos"
          [(ngModel)]="this.favoritoSeleccionado"
          (onChange)="this.filtroCambiado.emit()"
          optionLabel="label"
          optionValue="value"
          [allowEmpty]="true"
        >
          <ng-template let-item pTemplate="item">
            <div class="flex items-center gap-1.5 px-1 text-xs">
              <span>{{ item.label }}</span>
            </div>
          </ng-template>
        </p-selectbutton>
      }
    </div>

    <p-select
      #slugCategoria
      [options]="this.categoriasResource.value()"
      [(ngModel)]="this.categoriaSeleccionada"
      (onChange)="this.onCategoriaChange($event.value)"
      optionLabel="categoria"
      optionValue="categoria"
      appendTo="body"
      class="w-full"
      [showClear]="true"
      placeholder="Categoría"
    >
      <ng-template let-categoria #item>
        <div class="flex items-center gap-2">
          <i [class]="categoria.icono" style="font-size: 1.2rem"></i>
          <div>{{ categoria.categoria }}</div>
        </div>
      </ng-template>
    </p-select>

    <p-select
      [options]="this.subcategoriasResource.value()"
      [(ngModel)]="subcategoriaSeleccionada"
      (onChange)="this.onSubcategoriaChange(slugCategoria.value, $event.value)"
      optionLabel="subcategoria"
      optionValue="subcategoria"
      appendTo="body"
      class="w-full"
      [showClear]="true"
      placeholder="Subcategoría"
    />

    <p-select
      multiple="true"
      [options]="this.etiquetasResource.value()"
      [(ngModel)]="this.etiquetasSeleccionadas"
      (onChange)="this.onEtiquetasChange($event.value)"
      placeholder="Etiquetas"
      class="w-full"
      display="chip"
      optionLabel="nombre"
      optionValue="etiqueta"
      appendTo="body"
      [showClear]="true"
    />

    @if (this.userStore.esConsumidor()) {
      <p-select
        [options]="this.departamentosResource.value()"
        [(ngModel)]="this.departamentoSeleccionado"
        (onChange)="this.onDepartamentoChange($event.value)"
        optionLabel="nombre"
        optionValue="departamento"
        appendTo="body"
        class="w-full"
        [showClear]="true"
        placeholder="Departamento"
      />

      <p-select
        [options]="this.localidadesResource.value()"
        [(ngModel)]="this.localidadSeleccionada"
        (onChange)="this.filtroCambiado.emit()"
        optionLabel="nombre"
        optionValue="localidad"
        appendTo="body"
        class="w-full"
        [showClear]="true"
        placeholder="Localidad"
      />

      <p-select
        name="ubicacion"
        [options]="this.ubicaciones()"
        [(ngModel)]="this.ubicacionSeleccionada"
        (onChange)="this.filtroCambiado.emit()"
        optionLabel="nombre"
        optionValue="nombre"
        appendTo="body"
        class="w-full"
        [showClear]="true"
        placeholder="Cercano a"
      />

      @if (this.ubicacionSeleccionada()) {
        <div
          class="flex flex-col justify-center px-3 py-1.5 border rounded-md bg-surface-0 dark:bg-surface-900 border-surface-300 dark:border-surface-700 h-[42px] w-full gap-1"
        >
          <div
            class="flex justify-between items-center text-xs text-surface-600 dark:text-surface-400"
          >
            <span>Distancia:</span>
            <span class="font-bold text-primary">{{ this.distanciaSeleccionada() }} km</span>
          </div>
          <p-slider
            [(ngModel)]="this.distanciaSeleccionada"
            (onChange)="this.filtroCambiado.emit()"
            [min]="10"
            [max]="1000"
            [step]="50"
            class="w-full"
          />
        </div>
      }
    }

    <div class="relative w-full">
      <input
        type="text"
        [(ngModel)]="this.filtroBusqueda"
        (ngModelChange)="this.filtroCambiado.emit()"
        placeholder="🔍 Buscar..."
        class="w-full px-3 py-2 border rounded-md bg-surface-0 dark:bg-surface-900 border-surface-300 dark:border-surface-700 text-surface-900 dark:text-surface-0"
      />
    </div>

    <p-select
      [options]="this.sortOptions"
      [ngModel]="this.paginationStore.sortKey()"
      (ngModelChange)="this.paginationStore.onSortChange($event)"
      placeholder="Ordenar por..."
      class="mb-2 md:mb-0"
    />
  </div>
</div>
