<form #productoForm="ngForm">
  <p-table
    #productosTable
    [value]="this.productos()"
    dataKey="id_producto"
    editMode="row"
    size="small"
    [scrollable]="true"
    [paginator]="true"
    [rows]="this.limit()"
    [first]="this.first()"
    [totalRecords]="this.total()"
    [lazy]="true"
    [rowsPerPageOptions]="[6, 12, 24]"
    (onPage)="this.onPageChange($event)"
    [rowHover]="true"
  >
    <ng-template #header>
      <tr>
        <th style="width: 18rem">Foto</th>
        <th style="width: 18rem">Producto</th>
        <th style="width: 12rem">Subcategoría</th>
        <th style="width: 20rem">Descripción</th>
        <th style="width: 5rem">Etiquetas</th>
        <th style="width: 4.7rem">Stock</th>
        <th style="width: 6rem">Precio</th>
        <th style="width: 3rem">Actions</th>
      </tr>
    </ng-template>
    <ng-template #body let-producto let-editing="editing" let-ri="rowIndex">
      <tr [pEditableRow]="producto">
        <td>
          <p-cell-editor>
            <ng-template #input> inputfile? </ng-template>
            <ng-template #output>
              <div class="flex items-center gap-3 w-15">
                <app-foto-carrusel
                  [altText]="producto.producto"
                  [cdnUrl]="this.cdnUrl"
                  [fotos]="producto.fotos"
                ></app-foto-carrusel>
                <!-- <img
                  [src]="this.cdnUrl + producto.fotos[0]"
                  [alt]="producto.nombre"
                  width="40"
                  height="40"
                  class="rounded-md shadow"
                /> -->
              </div>
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <p-cell-editor>
            <ng-template #input>
              <textarea
                pInputText
                type="text"
                name="nombre"
                [(ngModel)]="producto.nombre"
                required
                class="w-full"
                pSize="small"
                rows="3"
              ></textarea>
            </ng-template>
            <ng-template #output>
              <div class="flex items-center gap-3">
                <div class="flex flex-col">
                  <span class="font-medium">{{ producto.nombre }}</span>
                  <span class="text-xs text-surface-500 dark:text-surface-400">{{
                    producto.producto
                  }}</span>
                </div>
              </div>
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <p-cell-editor>
            <ng-template #input>
              <div class="flex flex-col gap-2 py-1">
                <!-- Select Categoría -->
                <p-select
                  [options]="this.categorias()"
                  optionLabel="nombre"
                  optionValue="id_categoria"
                  placeholder="Categoría"
                  appendTo="body"
                  class="w-full"
                  size="small"
                >
                  <ng-template let-categoria #item>
                    <div class="flex items-center gap-2">
                      <i [class]="categoria.icono" style="font-size: 1.1rem"></i>
                      <span>{{ categoria.nombre }}</span>
                    </div>
                  </ng-template>
                </p-select>

                <!-- Select Subcategoría -->
                <p-select
                  [options]="this.subcategorias()"
                  optionLabel="nombre"
                  optionValue="id_subcategoria"
                  placeholder="Subcategoría"
                  appendTo="body"
                  class="w-full"
                  size="small"
                >
                  <ng-template let-subcategoria #item>
                    <div class="flex items-center gap-2">
                      <i [class]="subcategoria.icono" style="font-size: 1.1rem"></i>
                      <span>{{ subcategoria.nombre }}</span>
                    </div>
                  </ng-template>
                </p-select>
              </div>
            </ng-template>
            <ng-template #output>
              <div class="flex flex-col">
                <span class="text-xs text-surface-500 dark:text-surface-400">{{
                  producto.categoria
                }}</span>
                <span class="font-medium">{{ producto.subcategoria }}</span>
              </div>
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <p-cell-editor>
            <ng-template #input>
              <textarea
                pInputText
                type="text"
                name="descripcion"
                [(ngModel)]="producto.descripcion"
                required
                class="w-full"
                pSize="small"
                rows="3"
              ></textarea>
            </ng-template>
            <ng-template #output>
              {{ producto.descripcion }}
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <p-cell-editor>
            <ng-template #input>
              <div class="flex justify-center">
                <p-select
                  name="id_etiquetas"
                  multiple="true"
                  [options]="this.etiquetas()"
                  [(ngModel)]="producto.id_etiquetas"
                  optionLabel="nombre"
                  optionValue="id_etiqueta"
                  placeholder="Selecciona las etiquetas"
                  appendTo="body"
                  class="w-full"
                  size="small"
                  [checkmark]="true"
                  [showClear]="true"
                  styleClass="w-full overflow-y-auto"
                  class="w-full md:w-56"
                />
              </div>
            </ng-template>
            <ng-template #output>
              {{ producto.etiquetas }}
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <p-cell-editor>
            <ng-template #input>
              <p-inputnumber
                name="cantidad_disponible"
                [(ngModel)]="producto.cantidad_disponible"
                fluid
                size="small"
                [maxlength]="10"
              />
            </ng-template>
            <ng-template #output>
              {{ producto.cantidad_disponible }}
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <p-cell-editor>
            <ng-template #input>
              <p-inputnumber
                name="precio"
                [(ngModel)]="producto.precio"
                mode="currency"
                currency="UYU"
                fluid
                size="small"
                maxFractionDigits="1"
                [maxlength]="10"
              />
            </ng-template>
            <ng-template #output>
              <span class="font-semibold">{{ '$' + producto.precio }}</span>
            </ng-template>
          </p-cell-editor>
        </td>
        <td>
          <div class="flex justify-center w-full">
            @if (editing) {
              <button
                pButton
                pRipple
                type="button"
                pSaveEditableRow
                text
                rounded
                [severity]="'success'"
                title="Guardar"
                size="small"
                (click)="onRowEditSave(producto)"
              >
                <svg data-p-icon="check" />
              </button>

              <button
                pButton
                pRipple
                type="button"
                pCancelEditableRow
                text
                rounded
                severity="secondary"
                title="Cancelar"
                size="small"
                (click)="onRowEditCancel(producto, ri)"
              >
                <svg data-p-icon="times" />
              </button>
            } @else {
              <button
                pButton
                pRipple
                pInitEditableRow
                type="button"
                text
                rounded
                severity="primary"
                title="Editar"
                size="small"
                iconOnly
                [disabled]="!!this.productoSeleccionado()"
                (click)="onRowEditInit(producto)"
              >
                <svg data-p-icon="pencil" />
              </button>
              <button
                pButton
                pRipple
                type="button"
                text
                rounded
                severity="danger"
                title="Borrar"
                size="small"
              >
                <svg data-p-icon="trash" />
              </button>
              @if (producto.activo === true) {
                <button
                  pButton
                  pRipple
                  type="button"
                  text
                  rounded
                  severity="danger"
                  title="Desactivar"
                  size="small"
                >
                  <svg data-p-icon="ban" />
                </button>
              }
              @if (producto.activo === false) {
                <button
                  pButton
                  pRipple
                  type="button"
                  text
                  rounded
                  severity="danger"
                  title="Activar"
                  size="small"
                >
                  <svg data-p-icon="times" />
                </button>
              }
            }
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</form>
