<!-- Cambiamos h-screen por h-full -->
<div class="flex flex-column h-full">
  <header class="flex align-items-center justify-content-between px-4 py-2 bg-primary shadow-2 z-5">
    <div class="flex align-items-center gap-2">
      <i class="pi pi-shopping-bag text-2xl"></i>
      <span class="font-bold text-xl">De Acá</span>
    </div>
    <p-button
      icon="pi pi-user"
      [rounded]="true"
      [text]="true"
      severity="secondary"
      styleClass="text-white"
    />
  </header>

  <main class="flex-grow-1 overflow-y-auto bg-surface-ground">
    <router-outlet></router-outlet>
  </main>
</div>
