<div class="flex flex-col grow justify-center items-center h-full p-4 my-8">
  <p-card class="shadow-lg rounded-xl w-full md:w-[36rem]">
    @let producto = this.productoResource.value();

    @if (producto) {
      <ng-template #header>
        <app-producto-imagenes-selector
          [(slots)]="this.slots"
          [producto]="producto"
        ></app-producto-imagenes-selector>
      </ng-template>
      <app-producto-form
        [producto]="producto"
        (cancelar)="this.volver()"
        (guardar)="this.guardarProducto($event)"
      ></app-producto-form>
    }
    <ng-template #footer>
      <p class="text-center text-xs text-surface-500 dark:text-surface-400 mt-2">
        Los cambios aplicados se reflejarán inmediatamente en la tienda.
      </p>
    </ng-template>
  </p-card>
</div>
