<div class="flex flex-col grow justify-center items-center h-full p-1">
  <p-card class="shadow-lg rounded-xl w-full md:w-[30rem]">
    <ng-template #header>
      <div class="flex justify-center pt-12">
        <i class="pi pi-shopping-bag text-primary text-6xl"></i>
      </div>
    </ng-template>

    <ng-template #title>
      <div class="text-center text-surface-900 dark:text-surface-0 text-3xl font-medium mb-1">
        Bienvenido
      </div>
    </ng-template>

    <ng-template #subtitle>
      <div class="text-center text-surface-600 dark:text-surface-200 mb-20">
        Inicia sesión en De Acá
      </div>
    </ng-template>

    <form #loginForm class="flex flex-col gap-12" (ngSubmit)="this.doLogin()">
      <div class="flex justify-center mb-2">
        <p-select-button
          [options]="this.loginOptions"
          [(ngModel)]="this.selectedMethod"
          optionLabel="label"
          optionValue="value"
          name="methodSelector"
          allowEmpty="false"
        >
          <ng-template let-item pTemplate="item">
            <i [class]="item.icon" class="mr-2"></i>
            <span>{{ item.label }}</span>
          </ng-template>
        </p-select-button>
      </div>
      @if (this.selectedMethod() === 'email') {
        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon class="pi pi-envelope" />
            <input
              pInputText
              name="email"
              autocomplete="off"
              class="w-full"
              [(ngModel)]="this.email"
            />
            <label for="email">Email</label>
          </p-iconfield>
        </p-floatlabel>
      }
      @if (this.selectedMethod() === 'username') {
        <p-floatlabel variant="on">
          <p-iconfield iconPosition="right">
            <p-inputicon class="pi pi-user" />
            <input
              pInputText
              name="username"
              autocomplete="off"
              class="w-full"
              [(ngModel)]="this.username"
            />
            <label for="username">Username</label>
          </p-iconfield>
        </p-floatlabel>
      }

      <p-floatlabel variant="on">
        <p-iconfield iconPosition="right">
          <p-inputicon class="pi pi-key" />
          <p-password
            id="password"
            name="password"
            [(ngModel)]="this.password"
            [feedback]="false"
            [toggleMask]="true"
            [fluid]="true"
            autocomplete="off"
          />
          <label for="password">Contraseña</label>
        </p-iconfield>
      </p-floatlabel>

      <button pButton type="submit" styleClass="w-full">INGRESAR</button>
    </form>

    <ng-template #footer>
      <p class="text-center text-surface-600 dark:text-surface-200 mt-2">
        ¿Aún no tienes cuenta?
        <a routerLink="/auth/register" class="text-primary font-bold cursor-pointer no-underline"
          >Regístrate</a
        >
      </p>
    </ng-template>
  </p-card>
</div>
