/* Correcciones estéticas para Paginador e Inputs de PrimeNG */
:host ::ng-deep .p-paginator {
  padding: 0.5rem;
  border: none;
}

:host ::ng-deep .p-paginator .p-paginator-page,
:host ::ng-deep .p-paginator .p-paginator-next,
:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-first,
:host ::ng-deep .p-paginator .p-paginator-last {
  min-width: 2rem;
  height: 2rem;
  font-size: 0.75rem;
  border-radius: 0.5rem;
}
