<div
  class="mb-3 p-5 border border-surface-200 dark:border-surface-700 rounded-xl bg-surface-0 dark:bg-surface-900 shadow-sm"
>
  <div
    class="flex flex-col md:flex-row md:items-center justify-between gap-3 border-b border-surface-200 dark:border-surface-800 pb-1"
  >
    <div class="flex items-center gap-3">
      <span class="font-bold text-lg text-surface-900 dark:text-surface-0">
        Pedido #{{ pedido().id_pedido }}
      </span>
      <span class="text-xs text-surface-400">|</span>
      <span class="text-xs text-surface-500 dark:text-surface-400">
        Compra: #{{ pedido().id_compra }}
      </span>
    </div>

    <div class="flex items-center gap-3">
      <p-tag
        [value]="pedido().estado_pedido"
        [severity]="obtenerSeveridadEstado(pedido().estado_pedido)"
      />

      @if (pedido().estado_pedido === 'PAGADO') {
        <button
          pButton
          label="Marcar Listo"
          severity="success"
          size="small"
          (click)="onCambiarEstado('LISTO PARA ENTREGA')"
        >
          <svg data-p-icon="check" />
          Marcar para Entrega
        </button>
      } @else if (pedido().estado_pedido === 'LISTO PARA ENTREGA') {
        <button
          pButton
          label="Marcar Entregado"
          severity="info"
          size="small"
          (click)="onCambiarEstado('ENTREGADO')"
        >
          <svg data-p-icon="send" />
          Marcar Entregado
        </button>
      }
    </div>
  </div>

  <!-- Listado de Productos -->
  <div class="divide-y divide-surface-200 dark:divide-surface-800">
    @for (prod of pedido().productos; track prod.nombre) {
      <div class="py-3 flex items-center justify-between gap-4 first:pt-0 last:pb-0">
        <div class="flex items-center gap-3">
          <div
            class="w-12 h-12 rounded-lg bg-surface-100 dark:bg-surface-800 overflow-hidden flex items-center justify-center shrink-0 border border-surface-200 dark:border-surface-700"
          >
            <app-foto-carrusel [fotos]="prod.imagenes" altText="foto"></app-foto-carrusel>
          </div>

          <div>
            <p class="font-medium text-surface-900 dark:text-surface-0 m-0 text-sm">
              {{ prod.nombre }}
            </p>
            <p class="text-xs text-surface-500 dark:text-surface-400 m-0">
              {{ prod.cantidad }} x {{ prod.precio | currency }}
            </p>
          </div>
        </div>

        <span class="font-semibold text-surface-900 dark:text-surface-0 text-sm">
          {{ prod.subtotal | currency }}
        </span>
      </div>
    }
  </div>

  <!-- Pie con Total del Pedido -->
  <div
    class="pt-3 border-t border-surface-200 dark:border-surface-800 flex justify-end items-center gap-2"
  >
    <span class="text-sm text-surface-600 dark:text-surface-400">Total del Pedido:</span>
    <span class="text-base font-bold text-primary">{{ pedido().subtotal_pedido | currency }}</span>
  </div>
</div>
