<form class="flex flex-col gap-8" (submit)="guardarProducto($event)">
  <p-floatlabel variant="on">
    <p-iconfield iconPosition="right">
      <p-inputicon class="pi pi-tag" />
      <input pInputText autocomplete="off" class="w-full" [formField]="this.productoForm.nombre" />
      <label for="nombre">Nombre del Producto</label>
    </p-iconfield>
  </p-floatlabel>

  <p-select
    name="categoria"
    #slugCategoria
    [options]="this.etiquetasStore.categorias()"
    (onChange)="this.etiquetasStore.setCategoriaSeleccionada($event.value)"
    optionLabel="categoria"
    optionValue="categoria"
    appendTo="body"
    class="w-full"
    [showClear]="true"
    placeholder="Categoría"
  >
    <ng-template let-categoria #item>
      <div class="flex items-center gap-2">
        <i [class]="categoria.icono" style="font-size: 1.2rem"></i>
        <div>{{ categoria.categoria }}</div>
      </div>
    </ng-template>
  </p-select>

  <p-select
    placeholder="Selecciona subcategoría"
    [options]="this.etiquetasStore.subcategorias()"
    [formField]="this.productoForm.subcategoria"
    (onChange)="this.etiquetasStore.setSubcategoriaSeleccionada($event.value)"
    optionLabel="nombre"
    optionValue="subcategoria"
    appendTo="body"
    class="w-full"
    [showClear]="true"
    placeholder="Subcategoría"
  />

  <p-select
    multiple="true"
    name="etiquetas"
    [options]="this.etiquetasStore.etiquetas()"
    [formField]="this.productoForm.etiquetas"
    (onChange)="this.etiquetasStore.setEtiquetasSeleccionadas($event.value)"
    placeholder="Etiquetas"
    class="w-full"
    display="chip"
    optionLabel="nombre"
    optionValue="etiqueta"
    appendTo="body"
    [showClear]="true"
  />

  <p-floatlabel variant="on">
    <textarea
      pTextarea
      rows="3"
      class="w-full resize-none"
      [formField]="this.productoForm.descripcion"
    ></textarea>
    <label for="descripcion">Descripción</label>
  </p-floatlabel>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <p-floatlabel variant="on">
      <p-inputnumber
        [formField]="this.productoForm.precio"
        mode="currency"
        currency="UYU"
        locale="es-UY"
        class="w-full"
        styleClass="w-full"
        [min]="0"
      />
      <label for="precio">Precio</label>
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-inputnumber
        [formField]="this.productoForm.cantidad_disponible"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        class="w-full"
        styleClass="w-full"
        [min]="0"
      />
      <label for="cantidadDisponible">Cantidad Disponible</label>
    </p-floatlabel>
  </div>
  <div class="flex items-center gap-3 mt-2">
    <button
      pButton
      type="button"
      label="Cancelar"
      severity="secondary"
      [outlined]="true"
      class="w-1/2"
      (click)="this.cancelar.emit()"
    >
      CANCELAR
    </button>

    <button pButton type="submit" label="GUARDAR CAMBIOS" class="w-1/2">GUARDAR</button>
  </div>
</form>
