<form novalidate class="flex flex-col gap-8" (submit)="guardarProducto($event)">
  <div class="flex flex-col">
    <p-floatlabel variant="on">
      <p-iconfield iconPosition="right">
        <p-inputicon class="pi pi-tag" />
        <input
          pInputText
          autocomplete="off"
          class="w-full"
          [formField]="this.productoForm.nombre"
        />
        <label for="nombre">Nombre del Producto</label>
      </p-iconfield>
    </p-floatlabel>
    @if (this.productoForm.nombre().touched() && this.productoForm.nombre().invalid()) {
      @for (error of this.productoForm.nombre().errors(); track error.kind) {
        <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
      }
    }
  </div>
  <div class="flex flex-col">
    <p-floatlabel variant="on">
      <p-select
        id="categoria"
        #slugCategoria
        [options]="this.etiquetasStore.categorias()"
        [formField]="this.productoForm.categoria"
        (onChange)="this.etiquetasStore.setCategoriaSeleccionada($event.value)"
        optionLabel="categoria"
        optionValue="categoria"
        appendTo="body"
        class="w-full"
        [showClear]="true"
      >
        <ng-template let-categoria #item>
          <div class="flex items-center gap-2">
            <i [class]="categoria.icono" style="font-size: 1.2rem"></i>
            <div>{{ categoria.categoria }}</div>
          </div>
        </ng-template> </p-select
      ><label for="categoria">Categoría</label>
    </p-floatlabel>
    @if (this.productoForm.categoria().touched() && this.productoForm.categoria().invalid()) {
      @for (error of this.productoForm.categoria().errors(); track error.kind) {
        <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
      }
    }
  </div>

  <div class="flex flex-col">
    <p-floatlabel variant="on">
      <p-select
        id="subcategoria"
        [options]="this.etiquetasStore.subcategorias()"
        [formField]="this.productoForm.subcategoria"
        (onChange)="this.etiquetasStore.setSubcategoriaSeleccionada($event.value)"
        optionLabel="nombre"
        optionValue="subcategoria"
        appendTo="body"
        class="w-full"
        [showClear]="true"
      />
      <label for="subcategoria">Subcategoría</label>
    </p-floatlabel>
    @if (this.productoForm.subcategoria().touched() && this.productoForm.subcategoria().invalid()) {
      @for (error of this.productoForm.subcategoria().errors(); track error.kind) {
        <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
      }
    }
  </div>

  <div class="flex flex-col">
    <p-floatlabel variant="on">
      <p-select
        multiple="true"
        id="etiquetas"
        [options]="this.etiquetasStore.etiquetas()"
        [formField]="this.productoForm.etiquetas"
        (onChange)="this.etiquetasStore.setEtiquetasSeleccionadas($event.value)"
        class="w-full"
        display="chip"
        optionLabel="nombre"
        optionValue="etiqueta"
        appendTo="body"
        [showClear]="true"
      />
      <label for="etiquetas">Etiquetas</label>
    </p-floatlabel>

    @if (this.productoForm.etiquetas().touched() && this.productoForm.etiquetas().invalid()) {
      @for (error of this.productoForm.etiquetas().errors(); track error.kind) {
        <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
      }
    }
  </div>

  <div class="flex flex-col">
    <p-floatlabel variant="on">
      <textarea
        pTextarea
        rows="3"
        class="w-full resize-none"
        [formField]="this.productoForm.descripcion"
      ></textarea>
      <label for="descripcion">Descripción</label>
    </p-floatlabel>
    @if (this.productoForm.descripcion().touched() && this.productoForm.descripcion().invalid()) {
      @for (error of this.productoForm.descripcion().errors(); track error.kind) {
        <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
      }
    }
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <p-inputnumber
          [formField]="this.productoForm.precio"
          mode="currency"
          currency="UYU"
          locale="es-UY"
          class="w-full"
          styleClass="w-full"
          [min]="0"
        />
        <label for="precio">Precio</label>
      </p-floatlabel>

      @if (this.productoForm.precio().touched() && this.productoForm.precio().invalid()) {
        @for (error of this.productoForm.precio().errors(); track error.kind) {
          <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
        }
      }
    </div>

    <div class="flex flex-col">
      <p-floatlabel variant="on">
        <p-inputnumber
          id="cantidad_disponible"
          [formField]="this.productoForm.cantidad_disponible"
          [showButtons]="true"
          buttonLayout="horizontal"
          spinnerMode="horizontal"
          class="w-full"
          styleClass="w-full"
          [min]="0"
        />
        <label for="cantidadDisponible">Cantidad Disponible</label>
      </p-floatlabel>
      @if (
        this.productoForm.cantidad_disponible().touched() &&
        this.productoForm.cantidad_disponible().invalid()
      ) {
        @for (error of this.productoForm.cantidad_disponible().errors(); track error.kind) {
          <p-message severity="error" size="small" variant="simple">{{ error.message }}</p-message>
        }
      }
    </div>
  </div>
  <div class="flex items-center gap-3 mt-2">
    <button
      pButton
      type="button"
      label="Cancelar"
      severity="secondary"
      [outlined]="true"
      class="w-1/2"
      (click)="this.cancelar.emit()"
    >
      CANCELAR
    </button>

    <button pButton type="submit" label="GUARDAR CAMBIOS" class="w-1/2">GUARDAR</button>
  </div>
</form>
