<div class="flex flex-col grow justify-center items-center h-full p-1">
  <p-card class="shadow-lg rounded-xl w-full md:w-[30rem]">
    <ng-template #header>
      <div class="flex justify-center pt-12">
        <i class="pi pi-shopping-bag text-primary text-6xl"></i>
      </div>
    </ng-template>

    <ng-template #title>
      <div class="text-center text-surface-900 dark:text-surface-0 text-3xl font-medium mb-1">
        Quiero Vender
      </div>
    </ng-template>

    <ng-template #subtitle>
      <div class="text-center text-surface-600 dark:text-surface-200 mb-20">
        Ingresa la presentación de tu negocio
      </div>
    </ng-template>

    <form novalidate class="flex flex-col gap-12" (submit)="this.guardar($event)">
      <div class="flex flex-col gap-1">
        <p-iftalabel class="w-full">
          <textarea
            pTextarea
            rows="5"
            [autoResize]="true"
            class="w-full"
            [formField]="this.loginForm.presentacion"
          ></textarea>
          <label for="presentacion">Presentacion</label>
        </p-iftalabel>
        @if (this.loginForm.presentacion().touched() && this.loginForm.presentacion().invalid()) {
          @for (error of this.loginForm.presentacion().errors(); track error.kind) {
            <p-message severity="error" size="small" variant="simple">{{
              error.message
            }}</p-message>
          }
        }
      </div>

      <button pButton type="submit" class="w-full" [disabled]="!this.loginForm().valid()">
        Ingresar
      </button>
    </form>

    <ng-template #footer>
      <p class="text-center text-surface-600 dark:text-surface-200 mt-2">
        ¿Aún no tienes cuenta?
        <a routerLink="/auth/register" class="text-primary font-bold cursor-pointer no-underline"
          >Regístrate</a
        >
      </p>
    </ng-template>
  </p-card>
</div>
